@import url('https://fonts.googleapis.com/css?family=Ubuntu|Saira+Semi+Condensed');

a{
	color: inherit;
}

a:hover{
	color: inherit;
	text-decoration: inherit;
}

body{
	overflow-x: hidden;
	font-family: "Saira Semi Condensed", sans-serif;
	color: #222;
}

.fullheight{
	height: 100vh;
}

.frame{
	width: 100vw;
	margin: 0;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.frame p{
	color: #555;
	line-height: 26px;
	font-size: 18px;
	font-family: "Ubuntu";
	text-align: justify;
}